# Distribution / packaging
build/
dist/
lib/
var/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tests / coverage reports
.coverage
.coverage.*

# pyenv
.python-version

# poetry
poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# idea
.idea
